In [1]:
# dependencies
import pandas as pd
import csv
import numpy as np

In [2]:
# read csv into df
df = pd.read_csv("Lesson-Plans/clean_hawaii_measurements.csv")
df_stations = pd.read_csv("Lesson-Plans/hawaii_stations.csv")

In [3]:
# PREVIEW AND ANALYSE DATA
# count measurements
df.count()

station    3397
date       3397
prcp       3397
tobs       3397
dtype: int64

In [4]:
# find stats for measurements
df.describe()

              prcp         tobs
count  3397.000000  3397.000000
mean      0.328284    71.776273
std       0.644141     3.945744
min       0.000000    58.000000
25%       0.000000    69.000000
50%       0.050000    72.000000
75%       0.390000    75.000000
max       8.060000    87.000000

In [5]:
# stations count
df_stations.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [11]:
# preview stations
df_stations.head(2)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0
1  USC00513117  KANEOHE 838.1, HI US   21.4234  -157.8015       14.6

In [7]:
# find NaN
nan = df
df=pd.pivot_table(df,index=['station'], values=['prcp','tobs'])
df

                 prcp       tobs
station
USC00511918  0.130645  74.645161
USC00516128  0.429988  70.865137
USC00519397  0.048798  74.241497

In [8]:
# NaN - find and drop null
nan2 = df
nan2['NaN Count']=nan2['prcp'].isnull()
nan2['Count']=1
nan2=pd.pivot_table(nan2,index=["station"], values=['Count','NaN Count'],aggfunc=np.sum)
nan2['percentage']=nan2['NaN Count']/nan2['Count']*100
nan2

             Count  NaN Count  percentage
station
USC00511918      1      False         0.0
USC00516128      1      False         0.0
USC00519397      1      False         0.0

In [10]:
minrain = df['prcp'].min()
maxrain = df['prcp'].max()
maxtemp = df['tobs'].max()
mintemp = df['tobs'].min()
print('maxrain : ', maxrain, ' | minrain : ',minrain, ' | maxtemp : ', maxtemp, ' | mintemp : ',mintemp)

maxrain :  0.4299879227053122  | minrain :  0.04879818594104309  | maxtemp :  74.64516129032258  | mintemp :  70.86513687600645

In [13]:
# replace null values with zero
clean_stations = pd.DataFrame(df_stations)
clean_measrm = pd.DataFrame(df)
clean_measrm.drop('NaN Count', axis=1, inplace=True)
clean_measrm.drop('Count', axis=1, inplace=True)
clean_measrm = clean_measrm.fillna(0)
clean_measrm.to_csv("clean_hawaii_measurements.csv", index = False)
clean_stations.to_csv("clean_hawaii_stations.csv", index = False)