In [130]:
# dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from datetime import datetime 
from sqlalchemy import Column, Float, Integer, String, Text, ForeignKey, Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [131]:
# read CSV into pandas
df = pd.read_csv("Lesson-Plans/clean_hawaii_measurements.csv")
df_stations = pd.read_csv("Lesson-Plans/hawaii_stations.csv")

In [132]:
df.head(3)

       station    date  prcp  tobs
0  USC00519397  1/1/10  0.08    65
1  USC00519397  1/2/10  0.00    63
2  USC00519397  1/3/10  0.00    74

In [133]:
df_stations.head(3)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0

In [134]:
# create engine
engine = create_engine("sqlite:///hawaii.sqlite")

In [135]:
# connect engine
conn = engine.connect()

In [136]:
# create base
Base =  declarative_base()

In [137]:
# create class for measrm
class Measurements(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key=True)
    station = Column(Text,ForeignKey("stations.station"))
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)

In [138]:
# create class for stations
class Session(Base):
    __tablename__ = "stations"
    station = Column(Text, primary_key=True)
    name = Column(Text)
    langitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [147]:
# create all to create table for all measurements
Base.metadata.create_all(engine)

In [148]:
# ORM to create list mgmt for measurements and station
measrm_data = df.to_dict(orient="records")
station_data = df_stations.to_dict(orient= "records")

In [157]:
# MetaData to reflect tables
meta = MetaData(bind=engine)
meta.reflect()

In [167]:
# execute and insert tables for measurements and stations
stat_tbl = sqlalchemy.Table("stations", meta, autoload=True)
measrm_tbl = sqlalchemy.Table("measurements", meta, autoload=True)

In [169]:
# connect tables and execute
conn.execute(measrm_tbl.insert(), measrm_data)
conn.execute(stat_tbl.insert(), station_data)